<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>132106542439-9m1fv5npqa4ekaij96lr6pga5ip5jerl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.132106542439-9m1fv5npqa4ekaij96lr6pga5ip5jerl</string>
	<key>API_KEY</key>
	<string>AIzaSyDHP0hfttdU2Ze4oCEmvn_5exbGxzwYxzc</string>
	<key>GCM_SENDER_ID</key>
	<string>132106542439</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatapp</string>
	<key>PROJECT_ID</key>
	<string>chat-app-bd883</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-app-bd883.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:132106542439:ios:47f1158cd3a1ae097fe3c2</string>
</dict>
</plist>